<div class="modal-header">
    <h5 class="modal-title">{{ titreKey | translate }}</h5>
  </div>
  <form (ngSubmit)="onSubmit(myForm)" autocomplete="off" #myForm="ngForm">
    <div class="modal-body">
      <div class="form-group row">
          <label for="fldCode" class="col-md-2 col-form-label">Code</label>
          <div class="col-md-10">
            <input type="text" class="form-control" 
              id="fldCode" [(ngModel)]="point.Code" name ="Code" #code="ngModel" placeholder="Saisissez un code"
              required minlength="3" [uniqueValue]="isCodeUnique">
            <app-show-errors [control]="code"></app-show-errors>
          </div>
      </div>
      <div class="form-group row">
          <label for="fldLibelle" class="col-md-2 col-form-label">Libellé</label>
          <div class="col-md-10">
            <input type="text" class="form-control" 
              id="fldLibelle" [(ngModel)]="point.Libelle" name="Libelle" #libelle="ngModel" placeholder="Obligatoire" 
              required>
            <app-show-errors [control]="libelle"></app-show-errors>
          </div>
      </div>
      <div class="form-group row">
        <label for="fldTypePoint" class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-4">
          <select id="fldTypePoint" class="form-control" name="TypePoint" #typePoint="ngModel" [(ngModel)]="point.TypePoint" required  [ngClass]="{'color-placeholder': notTypePoint() }">
              <option *ngIf="notTypePoint()" disabled [ngValue]="undefined">Sélectionnez un type</option>
              <option *ngFor="let tp of enumTypePoint | enumToKeys" [ngValue]="enumTypePoint[tp]">{{tp}}</option>
          </select>
          <app-show-errors [control]="typePoint"></app-show-errors>
        </div>
        <label for="fldUniteMesure" class="col-sm-2 col-form-label">Unité de mesure</label>
        <div class="col-sm-4">
          <input type="text" id="fldUniteMesure" name="UniteMesure" list="lstUniteMesure" #uniteMesure="ngModel" [(ngModel)]="point.UniteMesure" 
          class="form-control has-feedback" placeholder="Sélectionnez / ajoutez une unité" ng-maxlength="255" />
          <datalist id="lstUniteMesure">
              <option *ngFor="let u of listUnite" [ngValue]="u">{{u}}</option>
          </datalist>
          <app-show-errors [control]="uniteMesure"></app-show-errors>
        </div>
      </div>

      <div class="form-group row">
          <label for="fldCategorie" class="col-md-2 col-form-label">Catégorie</label>
          <div class="col-lg-4">
              <app-categorie-tree-select id="fldCategorie" name="Categorie" #categorie="ngModel" [(ngModel)]="point.Categorie" required>
              </app-categorie-tree-select>
              <app-show-errors [control]="categorie"></app-show-errors>
          </div>
          <label for="fldUniteTravail" class="col-md-2 col-form-label">Unité de travail</label>
          <div class="col-lg-4">
            <app-unite-travail-tree-select id="fldUniteTravail" name="UniteTravail" #uniteTravail="ngModel" [(ngModel)]="point.ListeUnite" required>
            </app-unite-travail-tree-select>
            <app-show-errors [control]="uniteTravail"></app-show-errors>
        </div>
      </div>
      <div class="form-group row">
          <label for="fldPointPI" class="col-md-2 col-form-label">Point PI</label>
          <div class="col-lg-10">
              <app-pi-tree-select  id="fldPointPI" name="PointPI" #pointPI="ngModel" [(ngModel)]="point.IdPI" [required]="isPointPIRequired()">
              </app-pi-tree-select>
              <app-show-errors [control]="pointPI"></app-show-errors>
          </div>
      </div>

      <div>
        <p><em>Définissez le comportement par défaut lors de l'affectation du point dans un modèle :</em></p>
        <div class="form-group row">
            <ugo-check [(isSelected)]="point.EstObligatoire" class="col-sm-3 offset-md-2" id="fldEstObligatoire" name="EstObligatoire">Obligatoire ?</ugo-check>
            <ugo-check [(isSelected)]="point.EstCommentable" class="col-sm-3" id="fldEstCommentable" name="EstCommentable">Commentable ?</ugo-check>
            <ugo-check [(isSelected)]="point.EstLiableATL" class="col-sm-3" id="fldEstLiableATL" name="EstLiableATL">Liable à ATL ?</ugo-check>
        </div>
        
      </div>

    </div>
    <div class="modal-footer">
      <app-modal-tool-button [buttons]="additionnalTools" (buttonClick)="onAdditionnalToolsClick($event)"></app-modal-tool-button>
      <div class="flex-fake"> </div>
      <button type="button" class="btn btn-secondary" (click)="onCancel('cancel button click')"><i class="fas fa-undo-alt"></i> Annuler</button>
      <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary"><i class="fas fa-edit"></i> Valider</button>
    </div>
  </form>