<p class="h2">Référentiel : Les points de contrôle</p>

<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field> -->
<mat-input-container>
  <input matInput placeholder="Rechercher..." #input>
</mat-input-container>
<div class="spinner-container">
  <div *ngIf="dataSource.loading$ | async">
    <mat-spinner class="mx-auto" diameter="20"></mat-spinner>
  </div>
</div>
<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef>UID</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Code">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Code}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Libelle">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Libellé</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Libelle}} </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

</mat-table>

<mat-paginator #paginator
[length]="nbPoints"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 20]">
</mat-paginator>
