html, body {
    font-size: 14px;
}


.mat-paginator-range-actions {
    padding-top:5px;
}

.btn-group-xs .btn, .btn-xs {
    padding: 4px 6px;
    font-size: 10px;
    height: 24px;
    width: 24px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.color-placeholder,
select option[disabled] {
    color: #999999 !important;
}

select option:not([disabled]) {
    color: initial !important;
}

.flex-fake{
    flex-grow: 1;visibility: hidden;
}

ul.no-style{
    list-style: none;
}

span.form-control{
    min-height: 20px;
}
