<p class="h2">Référentiel : Les catégories</p>

<app-referentiel-top-table [loading]="dataSource.loading$" (filterValueChange)="runFilter($event)"></app-referentiel-top-table>

<mat-table class="table-referentiel" [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef>UID</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Code">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Code}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Libelle">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Libellé</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Libelle}} </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

</mat-table>

<app-custom-paginator [dataSource]="dataSource"></app-custom-paginator>
