<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">{{ 'app.titre' | translate }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-boxes"></i>
          {{ 'app.nav.ref.titre' | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/categories" routerLinkActive="active">
            <i class="fas fa-box"></i>
            <i class="fas fa-box-open"></i>
             {{ 'app.nav.ref.categorie' | translate }}
          </a>
          <a class="dropdown-item" routerLinkActive="active">
              <i class="fas fa-box"></i>
              {{ 'app.nav.ref.point' | translate }}
          </a>
          <a class="dropdown-item" routerLinkActive="active">
              <i class="fas fa-box"></i>
              {{ 'app.nav.ref.modele' | translate }}
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>